/*
  INITIALIZE
========================================================= */
*, *:before, *:after {
  box-sizing: border-box;
}

html{
  font-size: $base-font-size / 16 * 100%;
  // -webkit-font-smoothing: antialiased;
}

body{
  font-size: $base-font-size+px;
  line-height: 1.7;
  font-family: $font-fami;
  color: $base-font-color;
}

div, dl, dt, dd, ul, ol, li, pre, form, blockquote, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: 1.4;
}

// h1 {@extend %font-ll;}
// h2 {
//     font-size: 20px;
// }
// h3 {
//   font-size: 1.22222rem; }
// h4 {
//   font-size: 1rem; }
// h5 {
//   font-size: 1rem; }
// h6 {
//   font-size: 1rem; }

p{
  margin:  0 0 10px;
}

a {
  @include link-color(#fff, #aaa);
  text-decoration: none;
  .alpha{
    @include opacity( 1 );
    transition: all 100ms $ease-in-out;
    &:hover{
      @include opacity( $link-alpha );
    }
  }
}

img{
  vertical-align: bottom;
  border-style:none;
}

ul,ol{
  list-style: none;
}

/*
  GENERAL STYLES
========================================================= */
.text-center{
  text-align: center;
}

$supportIE: true; // IE非対応の場合 false
.clearfix {
  @if $supportIE {
    *zoom: 1;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.sp-btns a, .spimg{
  @include hide-text;
}
.notes{
  @include fontsize( 12 );
  line-height: 1.4;
}
.btn a{
  display: block;
  margin: 0 auto;
  line-height: 20px;
  padding: 20px 0;
  text-align: center;
}
.split{
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }

  @include mobile {
    .left, .right{
      float: none;
    }
  }
}

@include mobile {
  img.flex{
    max-width: 100%;
    height: auto;
  }
}

// ------------------------------------------
//  @for を使って余白調整用のclassを生成する
// ------------------------------------------
@if $spaceClass {
  @for $i from 0 through $space_endValue {
    .mt#{$i * 5} {
      margin-top: 5px * $i !important;
    }
    .mb#{$i * 5} {
      margin-bottom: 5px * $i !important;
    }
    @if $spacePadding {
      .pt#{$i * 5} {
        padding-top: 5px * $i !important;
      }
      .pb#{$i * 5} {
        padding-bottom: 5px * $i !important;
      }
    }
  }
}


/*
  IE FALLBACK STYLES
========================================================= */
.ie8,.ie7{
  .row{
    width: $min-width !important;
    .row{
        width: auto !important;
    }
  }
}

