// @for を使って余白調整用のclassを生成する  //  ----------------------------

$spaceClass: false !default;
$spacePadding: false !default;
$space_endValue: 10 !default;

@if $spaceClass {
  @for $i from 0 through $space_endValue {
    .mt#{$i * 5} {
      margin-top: 5px * $i !important;
    }
    .mb#{$i * 5} {
      margin-bottom: 5px * $i !important;
    }
    @if $spacePadding {
      .pt#{$i * 5} {
        padding-top: 5px * $i !important;
      }
      .pb#{$i * 5} {
        padding-bottom: 5px * $i !important;
      }
    }
  }
}


// clearfix を @extend で活用する  // -------------------------------




/*
  Helper classes
---------------------------------------------------------------- */
// .ir {
//     background-color: transparent;
//     border: 0;
//     overflow: hidden;
//     *text-indent: -9999px;
// }

// .ir:before {
//     content: "";
//     display: block;
//     width: 0;
//     height: 150%;
// }

// .hidden {
//     display: none !important;
//     visibility: hidden;
// }

// .visuallyhidden {
//     border: 0;
//     clip: rect(0 0 0 0);
//     height: 1px;
//     margin: -1px;
//     overflow: hidden;
//     padding: 0;
//     position: absolute;
//     width: 1px;
// }

// .visuallyhidden.focusable:active,
// .visuallyhidden.focusable:focus {
//     clip: auto;
//     height: auto;
//     margin: 0;
//     overflow: visible;
//     position: static;
//     width: auto;
// }

// .invisible {
//     visibility: hidden;
// }



