$base-font-size : 16;
$base-font-color: #111;
$base-color: #00a0e9;

$gothic : "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Arial", "Verdana", "sans-serif";
$gothic_basic :  Helvetica, Arial,arial,sans-serif;
$mincho : "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$font-fami : $gothic;


$link-color: #888;
$link-alpha : .8;
$min-width : 960px;
$maincolor : #2c3263;

// @for を使って余白調整用のclassを生成する  //  ----------------------------
$spaceClass: false !default;
$spacePadding: false !default;
$space_endValue: 10 !default;
